{% extends './base.html' %} 

{% block title %}Seat Booker{% endblock %}

{% block content %} 
    <header>
        <h1>Seat Booker</h1>
        <a href='./../' class='admin-login btn'>Home</a>
    </header>
    <h1>Thank you for registering!</h1>

    <h3>If you forget which seat you registered for, 
        please use the <a href='{% url "seatbooker:search" %}'>search</a> function 
        or contact <a href='mailto:wcec.media@gmail.com'>wcec.media@gmail.com</a>.</h3>
    
    
    <br>
    <a href='./../' class='form-btn'>Click here to return to the front page.</a>
{% endblock %}